*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select{
  font-size: 16px;
  font-weight: bolder;
  padding-left: 15px;
  outline: 1px solid #aaaaaa;
}


input {
  text-align: center;
}

input:focus{
  outline: 1px solid #aaaaaa;  
}

.coin {
  width: 90%;
  height: 45px;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid #eeeeee;
}

.price {
  width: 30%;
  height: 45px;
  margin: 15px 10px;
  border-radius: 15px;
  border: 1px solid #eeeeee;
  font-weight: bolder;
  font-size: 16px;
}

#typeinp {
  width: 85%;
  background-color: rgb(224, 113, 215);
  height: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin-right: 10px;
  border-radius: 6px;
  outline: 0;
  background: #ccc;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(243, 186, 238), rgb(255, 0, 234));
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
